<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SunPy Coordinated Package Dashboard</title>
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" href="cards.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.prod.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>

  <body>
      <div id="app">
          <section class="hero is-primary is-bold">
              <div class="hero-body">
                  <div class="container">
                      <h1 class="title">
                          SunPy Coordinated Package Dashboard
                      </h1>
                  </div>
              </div>
          </section>
          <div class="container">
              <div class="section">
                  <!-- <Page-Loading-Indicator v-if="Object.values(packagesLoaded).some(p => !p)"></Page-Loading-Indicator> -->
                  <div class="row columns is-multiline">
                      <div v-for="package in packageInfo" key="package.id" class="column is-4">
                          <Card :package="package"/>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- Using Vue to populate cards to reduce redundant code -->
      <script type="module">
       import Card from './Card.js'
       import PageLoadingIndicator from './PageLoadingIndicator.js'

       const { createApp, ref } = Vue

       var app = createApp({
           el: '#app',
           data() {
               return {
                   packageInfo: [],
                   packagesLoaded: ref([]),
               }
           },
           components: {
               Card,
               PageLoadingIndicator,
           },
           mounted() {
               var self = this
             $.getJSON("/api/packages", function(data) {
                 self.packageInfo = data;
                 /* self.packagesAreLoading = Array(data.map(p => p.active_branches.length).reduce((sum, a) => sum+a, 0)); */
                 self.packagesLoaded = {}
                 data.map(p => p.active_branches.map(branch => self.packagesLoaded[`${p.name}${branch}`] = false));
             });
           },
         methods: {
             statusText(status) {
                 return {
                     'has-text-success': status == 'succeeded',
                     'has-text-warning': status == 'out-of-date',
                     'has-text-danger': status == 'failed',
                 }
             },
             statusIcon(status) {
                 return {
                     'ion-checkmark-circle': status == 'succeeded',
                     'ion-checkmark-circle': status == 'failed',
                 }
             }
         }
     })
     app.mount("#app")
    </script>
  </body>

</html>
